    tr{
        max-height:10px;
    }

    td{
        max-height:10px;
        padding:1px;
        border-style:none;
    }
    td.centered{
        text-align:center;
    }
    .numberbox{
        margin-bottom:0px;
    }

    